.DS_Store
*.Rproj*
*.RData
*.RDataTmp
*.Rhistory

Statistical Genomics/hw7/idats
Statistical Genomics/hw8/blood
Statistical Genomics/hw8/chipseq

Statistical Genomics/final_project/data
*_cache
*_files
.Rproj.user
