
Biostatistical Methods 1/.DS_Store
.DS_Store

Statistical Theory 1/\.Rhistory
.Rproj.user
Biostatistical Methods 2/HW 3/.RData
Biostatistical Methods 2/HW 3/.Rhistory
.gitignore
Biostatistical Methods 2/HW 6/HW 6.Rproj
Biostatistical Methods 2/HW 6/.Rhistory
Biostatistical Methods 2/HW 6/.RData

Statistical Consulting 2/Group Project/\.Rhistory
Biostatistical Methods 2/HW 7/HW 7.Rproj
Biostatistical Methods 2/HW 7/.RData
Biostatistical Methods 2/HW 7/.Rhistory
Statistical Theory 2/.Rhistory
Biostatistical Methods 2/HW 8/.Rhistory
Biostatistical Methods 2/HW 8/HW 8.Rproj
Biostatistical Methods 2/HW 8/.RData
Statistical Consulting 2/Kiernan Project/Kiernan Project.Rproj
Statistical Consulting 2/Kiernan Project/.RData
Statistical Consulting 2/Kiernan Project/.Rhistory
Statistical Consulting 2/Kiernan Project/HW_8_files/figure-latex/unnamed-chunk-5-1.pdf

Analysis of Longitudinal Data/Homework 1/.RData

Analysis of Longitudinal Data/Homework 1/.Rhistory

Analysis of Longitudinal Data/Homework 4/.RData

Analysis of Longitudinal Data/Homework 4/.Rhistory
