
Biostatistical Methods 1/.DS_Store
.DS_Store

Statistical Theory 1/\.Rhistory
.Rproj.user
Biostatistical Methods 2/HW 3/.RData
Biostatistical Methods 2/HW 3/.Rhistory
.gitignore
Biostatistical Methods 2/HW 6/HW 6.Rproj
Biostatistical Methods 2/HW 6/.Rhistory
Biostatistical Methods 2/HW 6/.RData
